/* General styles */
:root{
    --primary-text-color:#212121;
    --accent-color:#2196F3;
    --secondary-color:#757575;
    --background-color:#E5E5E5;
    --backround-btncolor:#F5F4FA;
    --main-color:#FFFFFF;
    --secondary-address-color:rgba(255, 255, 255, 0.6);
    --bgc-col-dark:#2F303A;
    --btncolor-hov: #188CE8;
  
}
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: #212121;
}
.list {
    list-style: none;
}
/* LOGO */
.logo .logo-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
}

.logo .link:hover,
.logo .link:focus {
    color: var(--accent-color);
}
.logo-accent {
    color: var(--accent-color);
}
/* Navigation */
.logo,
.site-nav,
.contacts-list {
    background-color: var(--main-color);
}

.nav,
.contacts-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav-item .link {
    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link {
    color: var(--primary-text-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}
.list-item .link:hover,
.list-item .link:focus {
    color: var(--accent-color);
}
.list-item .link {
    color: var(--secondary-color);
}
.list-item .link {
    text-decoration: none;
}
/* Main page styles */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    text-align: center;   
}
/* Hero-styles */
.hero {
    background-color: var(--bgc-col-dark);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-color);
}
.btn-hero {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--main-color);
    background-color: var(--accent-color);
}
.btn-hero:hover,
.btn-hero:focus {
    background-color: var(--btncolor-hov);
}
/* Features styles */
.features-title { 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features-text {
    font-size: 14px;
    color: var(--secondary-color);
}
/* Team */
.team {
    background-color: var(--backround-btncolor);
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.team-text {
    line-height: 1.18;
    text-align: center;
    color: var(--secondary-color);
}
/* Portfolio styles */
/* Buttons */
.btn-item {
    cursor: pointer;
}
.btn-list {
    font-family: inherit;
}
.btn-item:hover, 
.btn-item:focus {
    color: var(--main-color);
    background-color: var(--accent-color);
}
.btn-item-current {
    color: var(--main-color);
    background-color: var(--accent-color);
}

.btn-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    font-weight: 500;
    text-align: center;
    background-color: var(--backround-btncolor);

}
/*Projects*/
.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-color);
}
/* Footer */
.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    background-color: var(--bgc-col-dark);
}

.logo-footer .logo-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--main-color);
    
}
.logo-footer {
    background-color: var(--bgc-col-dark);
}
.link {
    text-decoration: none;
}
.link-main {
    color: var(--main-color)
}
.link-secondary {
    color: var(--secondary-address-color);
}



